<div class="mb-4 flex justify-between animate-fade-in-up scale-100 opacity-100 duration-200">
  <div class="flex flex-col items-left justify-left mb-5">
      <svg-icon src="./assets/images/Kafe-Logo-Orange.svg" class="cursor-pointer" [svgClass]="'h-auto w-20'"> </svg-icon>
        <div class="space-x-1 text-xs font-medium text-muted-foreground mt-1">
          <span>Online Table Reservation</span>
        </div>
  </div>
  <div class="inline-block space-x-4">
    <button
      class="flex-none rounded-md bg-muted px-4 py-2.5 text-xs font-semibold text-muted-foreground hover:text-foreground">
      Roy Saniel
    </button>
    <button class="flex-none rounded-md bg-primary px-4 py-2.5 text-xs font-semibold text-primary-foreground">
      Burt Intelligence
    </button>
  </div>
</div>
